body {
  font-size: large;
  color: lightgrey;
  background-color: #454555;
}

h1 {
  margin: auto;
  padding: 16px;
}

h5 {
  margin: 0px 20px 0px;
  padding: 5px;
}

h6 {
  font-size: medium;
  margin: 0px 30px 0px;
  padding: 5px;
}

img {
  height: 25em;
  border: 2px solid #1EAEDB;
  border-radius: 10px;
}

/* Note*/
.myNote {
  color: #1EAEDB;
}

/* Add a new bread */
.newButton {
  background-color: #f5f5f5;
  width: 8.84vw;
  height: 3.5vh;
}

/* Go back to the index */
.showButton,
.editButton,
.bioButton {
  background-color: #f5f5f5;
  width: 10.45vw;
  height: 3.5vh;
}

.submit {
  background-color: #f5f5f5;
  width: 5.3vw;
  height: 3.5vh;
}

.edit {
  background-color: #f5f5f5;
  width: 4.5vw;
  height: 3.5vh;
}

.delete {
  background-color: #f5f5f5;
  width: 5.5vw;
  height: 3.5vh;
}